<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DKA.UZ Online Course</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta name="description" content="DKA.UZ - это онлайн- проект, который дает возможность школьникам, студентам, ассистентам и учителям пополнить свой багаж знаний о том, как грамотно и эффективно пользоваться всеми благами интернет-пространства и применять свои умения соответственно в своей образовательной деятельности.">
  <meta name="author" content="Inovatik">
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />
  <!-- Favicons -->
  <link href="/All/img/favicon.png" rel="icon">
  <link href="/All/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="/All/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="/All/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/All/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/All/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/All/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/All/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<script data-ad-client="ca-pub-3543554559998313" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Main Stylesheet File -->
  <link href="/All/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body>
<header id="header" class="fixed-top">
  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
      <a href="#intro" class="scrollto"><h2>DKA.UZ</h2></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="/#intro">Asosiy</a></li>
        <li><a href="/#about">Loyiha haqida </a></li>
        <li><a href="/#services">Kurslar </a></li>
        <!-- <li><a href="/home#team"></a></li> -->
        <li><a href="/login">Kirish </a></li>
        <li><a href="/apply">Ro'yhatdan O'tish</a></li>
        <!-- <li><a href="/apply">Иконки социальных сетей</a></li> -->
    </nav><!-- .main-nav -->  
  </div>
</header><!--<!-- #header -->
 
    <!--==========================
      Team Section
    ============================-->
    <br><br><br>
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3><%= header %></h3>
       <center>   <h4>Ismi:<%= message%></h4></center>

        
        <center>   <h4>Darajasi:<%= daraja%></h4></center>
        
        <center>   <h4>Foizi:<%= percent%></h4></center>
        
        <center>   <h4>Berilgan Kuni:<%= date%></h4></center>
         </div>
        <div class="row" id="boook" >
        </div>
      </div>
    </section>

    <!--==========================
      Clients Section
    ============================-->
  
  </main>

  <!--==========================
    Footer
  ============================-->
  <br><br><br><br><br>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
  <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
  <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
  <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="js/scripts.js"></script> <!-- Custom scripts -->
  <script src="All/lib/jquery/jquery.min.js"></script>
  <script src="All/lib/jquery/jquery-migrate.min.js"></script>
  <script src="All/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="All/lib/easing/easing.min.js"></script>
  <script src="All/lib/mobile-nav/mobile-nav.js"></script>
  <script src="All/lib/wow/wow.min.js"></script>
  <script src="All/lib/waypoints/waypoints.min.js"></script>
  <script src="All/lib/counterup/counterup.min.js"></script>
  <script src="All/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="All/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="All/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="All/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="All/js/main.js"></script>

</body>
</html>
